<!DOCTYPE html>

{% load static %}

<html lang="de">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

    <meta content="{% block description %}{% endblock %}" name="description">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">Newsletter abonnieren</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{% url 'home' %}">Buddy Farm</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">

                {% if user.is_authenticated %}
                    <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hallo, {{ user.username | title }}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">0 Nachrichten</a>
                        <a class="dropdown-item" href="#">0 Inserate</a>
                        <a class="dropdown-item" href="#">0 Favoriten</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logout' %}">Abmelden</a>
                    </div>
                {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">Anmelden</a>
                {% endif %}
                </div>
            </div>
    </header>
</div>


{% block content %}

{% endblock content %}

<div class="container">

    {% include 'components/footer.html' %}

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>