<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <a class="blog-header-logo-small text-dark" href="{% url 'home' %}">Buddy Farm</a>
        <small class="d-block text-muted">Made with <i class="fa fa-heart" aria-hidden="true"></i> in Berlin, Germany</small>
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
      <div class="col-6 col-md">
        <h2 class="h2-smaller">Blog</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Beliebte Artikel</a></li>
          <li><a class="text-muted" href="#">Ökologisch gärtnern</a></li>
          <li><a class="text-muted" href="{% url 'faq' %}">FAQ</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h2 class="h2-smaller">Kategorien</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Obstpflanzen</a></li>
          <li><a class="text-muted" href="#">Gemüsepflanzen</a></li>
          <li><a class="text-muted" href="#">Zierpflanzen</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h2 class="h2-smaller">Über uns</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="{% url 'impressum' %}">Impressum</a></li>
          <li><a class="text-muted" href="#">Datenschutzerklärung</a></li>
        </ul>
      </div>
    </div>
  </footer>