{% extends 'base.html' %}

{% block title %}Buddy Farm - FAQ - Häufig gestellte Fragen{% endblock %}

{% block description %}Auf Buddy Farm können Sie mit Hobbygärtnern aus Ihrer Umgebung Pflanzen tauschen oder
    verschenken.
    Hier finden Sie Obst, Gemüse und Zierpflanzen in Ihrer Umgebung. {% endblock %}

{% load static %}

{% block content %}

    <div class="container">

        <div class="w-75 mx-auto text-center">

            <h1 class="pt-5 text-center">FAQ</h1>

            <p class="lead text-center">Hier findest du die Antworten rund um deine Fragen zu Buddy Farm</p>

            <h3 style="font-family: sans-serif" class="pt-5 text-left">Reservierung</h3>

            <p class="text-justify">Du kannst auf Buddy Farm dein Inserat als reserviert markieren, wenn du einen Interessenten gefunden hast und
            anderen Nutzern symbolisieren möchtest, dass dein Inserat möglicherweise vergriffen ist. <br><br>python

            Zum Reservieren kannst du in der Produktansicht den "reservieren-Button" klicken oder auf den "bearbeiten-Button" klicken.
            Du kannst auch ein reserviertes Produkt über den "bearbeiten-Button" als wieder verfügbar markieren.


        </div>
    </div>

{% endblock content %}